
</section>



    <div class="stars"></div> <!-- Fondo de estrellas -->
    <section id="main">

        <h1>
            Fatima & Jesús
        </h1>

        <div id="contenedorFoto">

            <div class="redondo z-depth-2">

                <img  id="luna" src="img/luna.png" class="rounded" alt="">
                
                <img  id="principal"src="img/foto.jpeg" class="rounded" alt="">
               
    
            </div>

            

        </div>

        <h2 id="sub"> NUESTRA BODA</h2>
    
       
        <div   id="reloj">

                <div class="countElement z-depth-1">
                    <span id="days">00</span>
                    <p>DÍAS</p>
                </div>

                <div class="countElement z-depth-1">
                    <span id="hours">00</span>
                    <p>HORAS</p>
                </div>
                <div class="countElement z-depth-1">
                    <span id="minutes">00</span>
                    <p>MINUTOS</p>
                </div>

            
        </div>

        <!-- Modal Trigger -->

  
        
        <img  id="lunaPequeña" src="img/luna.webp" class="rounded" alt="">

        <div id="controles">

            <a href="plan" class="control" href="#modal1">
               <img src="/img/clock.png" alt="">
                <p>Plan de la noche</p>

            </a>

            <a href="album" class="control">
                <img src="/img/fotoHome.png" alt="">
                <p>Comparte tus momentos</p>

            </a>

            <a href="textos" class="control">
                <img src="/img/pencilHome.png" alt="">
                <p>Escribe un recuerdo</p>

            </a>


          

        </div>
        

    </section>

   
    <script src="/js/efectos.js"></script>