<section id="plan">
    
    
    <h1>
        Fatima & Jesús
    </h1>

    <h2>
        <center>
           <aside id="el">EL</aside>  
            <aside id="gran">gran</aside>
            <aside id="dia">DÍA</aside> 
            
            <aside id="fecha">07 DE JUNIO 2025</aside>
         </center>


       
    </h2>


    <a href="" class="evento">
        <img src="/img/templo.png" alt="">

        <p class="title">MISA</p>
        <p>La Capilla Virgen de Gpe.</p>
        <p>5:00pm</p>



    </a>

    <section class="evento">
        <img src="/img/arras.png" alt="">

        <p class="title">BODA CIVIL</p>
        <p>7:00pm</p>



    </section>

    <section  href="" class="evento">
        <img  id="mapa"src="/img/mapa.png" alt="">

        <p class="title">RECEPCIÓN</p>
        <p >Negrete #187</p>


        <a id="como-llegar" class="btn waves-effect waves-light" onclick="window.open('https://maps.app.goo.gl/9ocVQJAQN94anzfn7', '_blank')">Cómo llegar</a>



    </section>

    <section class="evento">
        <img  src="/img/cubiertos.png" alt="">

        <p class="title">CENA</p>
        <p>9:00pm</p>



    </section>

    <center>
        <img id="fases" src="/img/fases.png" alt="">
    </center>



    <a href="/" id="home-icon">
        <i class="material-icons" style="font-size: 20px;">home</i>
    </a>





</section>