@font-face {
    font-family: 'PoiretOne-Regular';
    src: url('fonts/PoiretOne-Regular.ttf') format('opentype');
}

#textos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
#textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5em;;
    margin-top: 20px;
    border-radius: 8px;
}

#textContainer aside{
    width: 100%;
    margin-bottom: 2em;
    font-family: PoiretOne-Regular, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: -2em;
}
#textContainer aside input, #textContainer aside textarea{
    font-size: 20px !important;
    font-family: PoiretOne-Regular, sans-serif;
    font-weight: bold;
}

.texto{
    width: 100%;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: PoiretOne-Regular, sans-serif;
    font-size: 2em;
}
.texto strong{
    font-weight: bolder;
}

#compartirTexto {
    text-align: center;
    width: 100%;
    background-color: #73A3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.input-field {
 
    width: 100%;
    font-family: PoiretOne-Regular, sans-serif;
    font-size: 2em;
}

#pencil-icon {
    cursor: pointer;
    padding: 8px;
    background-color: #73A3D3 !important;
    display: flex;
    width: 60px;
    height: 60px;
  
    justify-content: center;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

#pencil-icon img {
    width: 100%;
    height: 27px;
    margin-top: 8px;
}


.input-field input:focus, 
.input-field textarea:focus {
    border-bottom: 2px solid #73A3D3 !important;
    box-shadow: 0 1px 0 0 #73A3D3 !important;
}

.input-field label {
    color: #73A3D3 !important;
}